html {
    background: #EEEEEE;
    height: 100vh;
}

.windowStretch {
    height: 100vh;
}

.whiteText {
    color: white;
}

.whiteIcon {
    filter: brightness(0) invert(1);
}

.blackText {
    color: #353a40;
}

h1, h2, h3 {
    color: #353a40;
    margin: 20px;
}

.backgroundWhite {
    background: #EEEEEE;
}

.backgroundGrey {
    background: #C3CFDB;
}

.backgroundBlue {
    background: #4B88C1;
}

.scrollable {
    overflow: scroll;
}

.scrollable::-webkit-scrollbar {
    display: none;
}

.sticky {
    position: sticky;
}

.fixed {
    position: fixed;
}

.headerSpace {
    height: 20px;
}

.moreSpace {
    height: 40px;
}

.textLeft {
    text-align: left;
}
